@page "/kontakt"

<h1>Kontakt</h1>

<p>
    Du möchtest mehr über unseren Verein erfahren oder hast Fragen zum Training?
    Dann kontaktiere uns gerne.
</p>

<h3>Adresse</h3>

<p>
    Tischtennisverein Musterstadt<br />
    Musterstraße 1<br />
    93000 Musterstadt
</p>

<h3>E-Mail</h3>

<p>
    info@ttverein.de
</p>

<h3>Sporthalle</h3>

<p>
    Sporthalle Musterstadt<br />
    Hallenstraße 10<br />
    93000 Musterstadt
</p>

<hr />

<h3>Anfahrt</h3>

<iframe src="https://www.google.com/maps?q=Regensburg&output=embed"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
</iframe>