@page "/impressum"

<h1>Impressum</h1>

<p>
    Angaben gemäß § 5 TMG
</p>

<p>
    Tischtennisverein Musterstadt<br />
    Musterstraße 1<br />
    93000 Musterstadt
</p>

<h3>Vertreten durch</h3>
<p>
    Max Mustermann
</p>

<h3>Kontakt</h3>
<p>
    E-Mail: info@ttverein.de
</p>