@page "/links"

<h1>Links</h1>

<p>
    Hier findest du unsere Social-Media-Kanäle und weitere wichtige Links.
</p>

<h3>Social Media</h3>

<ul>
    <li>
        <a href="https://www.instagram.com/" target="_blank">
            Instagram
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/" target="_blank">
            Facebook
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/" target="_blank">
            YouTube
        </a>
    </li>
</ul>

<h3>Webshop</h3>

<p>
    Vereinskleidung und Zubehör findest du in unserem Webshop.
</p>

<a href="https://www.example.com" target="_blank">
    Zum Webshop
</a>