@page "/training"

<h1>Training</h1>

<h3>Jugendtraining</h3>
<p>Montag und Mittwoch, 17:00 – 18:30 Uhr</p>

<h3>Erwachsenentraining</h3>
<p>Montag und Mittwoch, 19:00 – 21:30 Uhr</p>

<h3>Freies Training</h3>
<p>Freitag, 18:00 – 21:00 Uhr</p>